<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ktulive">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.ModuleandReferenceDisplayFragment"
            android:label="Choose Subject" />
        <activity android:name=".fragments.SemesterChoosingFragment" />
       \
        <activity android:name=".mtechbranch" />
        <activity android:name=".fragments.SubjectChoosingFragment" />

        <activity android:name=".actvities.HomeScreen"></activity>
    </application>

</manifest>