<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.machinser.education.ktulive">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.machinser.education.ktulive.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.machinser.education.ktulive.Semester"
            android:label="Choose Subject" />

        <activity android:name="com.machinser.education.ktulive.SemesterChoosingActivity" />
        <activity android:name="com.machinser.education.ktulive.BranchChoosingActivity"
            android:label="Choose Branch"/>
        <activity android:name="com.machinser.education.ktulive.mtechbranch" />
        <activity android:name="com.machinser.education.ktulive.ModuleList"></activity>
        <activity android:name="com.machinser.education.ktulive.BTechOrMtechChoosingActivity"
            android:label="Choose Course"></activity>
    </application>

</manifest>